body {
    display: flex;
    flex-direction: column;
    background-image: url(weather1.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.navbar {

    width: 100vw;
    height: 5vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b5edf7;
    color: black;
}